[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=run_strategy_and_simulator
Name=UnBall
Icon=/usr/local/etc/unball.png
Categories=Development;Math;Science
Comment=UnBall System
StartupNotify=true
